<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>User:</strong>
    <%= @order.user %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= @order.total %>
  </p>

  <p>
    <strong>Articulos:</strong>
    <%= @order.carts.each do |p| %>
      <ul>
        <li> <%= p.name %></li>
        <li> <%= p.price %></li>
      </ul>
    <% end %>
    
  </p>

  <p>
    <strong>Status:</strong>
    <%= @order.status %>
  </p>
  
  <%= link_to 'Back', orders_path %>
</div>